<mat-selection-list #shoes [multiple]="false">
    <h1>Jobs</h1>
    <mat-list-option *ngFor="let shoe of typesOfJobs" [value]="shoe">
      {{shoe.name}}
      {{shoe.type}}
      <div mat-line>{{shoe.location}}</div>
    </mat-list-option>
  </mat-selection-list>

  <!-- <div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column"  fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px" >
    <div fxFlex.lt-md="100" fxFlex="35" >Card</div>
    <div fxFlex.lt-md="100" fxFlex="35" >Card</div>
    <div fxFlex.lt-md="100" fxFlex="35" >Card</div>
  </div>
 </div> -->
