<section #target class="hero" id="section_1">
  <div class="about-info">
    <div
      class="container"
      fxLayout="column"
      fxLayout.md="row"
      fxLayoutGap="20px"
    >
      <div
        class="cardWrap"
        fxLayout.lt-md="column"
        fxLayout.md="column"
        fxLayout="row"
        fxFlex.md="50"
        fxLayoutAligmnet="space-between center"
        fxLayoutGap="20px"
      >
        <div fxFlex.lt-md="100" fxFlex="50">
          <video autoplay="" loop="" muted="" playsinline="">
            <source
              src="assets/acre-bill-animation.122-1.HEVC-alpha.mov"
              type='video/mp4; codecs="hvc1"'
            />
            <source
              src="assets/acre bill animation.122_1.webm"
              type="video/webm"
            />
          </video>
        </div>
        <div fxFlex.lt-md="100" fxFlex="50" fxLayoutAligmnet="center">
          <h3 class=""><span>The Future of NFTs is Asset-Backed.</span></h3>
          <p>
            Mint high-quality Art, Collectibles, Real Estate, and Experience
            asset-backed NFTs that automatically generate digital rewards along
            with exclusive real world benefits.
          </p>
          <button mat-stroked-button>First Project Launch</button>
        </div>
      </div>
    </div>

    <div
      class="container"
      fxLayout="column"
      fxLayout.md="row"
      fxLayoutGap="20px"
    >
      <div
        class="cardWrap"
        fxLayout.lt-md="column"
        fxLayout.md="column"
        fxLayout="row"
        fxFlex.md="50"
        fxLayoutAligmnet="space-between center"
        fxLayoutGap="20px"
      >
        <div fxFlex.lt-md="100" fxFlex="50">
          <h3 class="">
            <span>Pioneering The Next Layer in NFT Utility.</span>
          </h3>
          <p>
            Introducing ACRE Protocol: a scalable next-gen solution for NFTs
            featuring guaranteed liquidity, DeFi integration, and powering a
            community owned decentralized ecosystem.
          </p>

          <span class="btn-container"
            ><button mat-stroked-button>Read Litepaper</button></span
          >
        </div>

        <div fxFlex.lt-md="100" fxFlex="50">
          <video
            width="100%"
            height="100%"
            autoplay=""
            loop=""
            muted=""
            playsinline=""
          >
            <source
              src="assets/acre-token.121_1-rev2-1.mov"
              type='video/mp4; codecs="hvc1"'
            />
            <source src="assets/acre token.121_1.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h3 class=""><span>ACRE Ecosystem</span></h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p>
        Featuring a unique NFT Marketplace, automatic liquidity protocol &amp;
        DAO, ACRE aims to become a digital DeFi powerhouse with a multi-layered
        ecosystem designed to benefit all users that participate within the
        project network.
      </p>
    </div>
    <div
      class="container"
      fxLayout="column"
      fxLayout.md="row"
      fxLayoutGap="20px"
    >
      <div
        class="cardWrap"
        fxLayout.lt-md="column"
        fxLayout.md="column"
        fxLayout="row"
        fxFlex.md="50"
        fxLayoutAligmnet="space-between center"
        fxLayoutGap="20px"
      >
        <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
            <svg-icon src="assets/nft.svg"></svg-icon>
          <p><strong>NFT</strong></p>
        </div>
        <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
            <svg-icon src="assets/token.svg"></svg-icon>
          <p><strong>Token</strong></p>
        </div>
        <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
            <svg-icon src="assets/rewards.svg"></svg-icon>
          <p><strong>Rewards</strong></p>
        </div>
        <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
            <svg-icon src="assets/governance.svg"></svg-icon>
          <p><strong>Governance</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
