<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <video width="100%" height="100%" autoplay="" loop="" muted="" playsinline="">
            <source src="assets/acre-bill-animation.122-1.HEVC-alpha.mov" type="video/mp4; codecs=&quot;hvc1&quot;">
            <source src="assets/acre bill animation.122_1.webm" type="video/webm">
            </video>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-list>
        <h3 class=""><span>The Future of NFTs is Asset-Backed.</span></h3>
        <div><p>Mint high-quality Art, Collectibles, Real Estate, and Experience asset-backed NFTs that automatically generate digital rewards along with exclusive real world benefits.</p>
        </div>
        <div><span class="btn-container"><a href="#nft-projects" class="custom-link btn btn-lg btn-custom-typo font-555555 font-weight-400 text-initial no-letterspace border-width-0 btn-text-skin btn-color-uydo btn-outline btn-icon-left">First Project Launch</a></span></div>
    </mat-list>
    </mat-grid-tile>
  </mat-grid-list>