<section #target class="hero" id="section_1">
    <div class="about-info">
        <div class="container ">
            <div fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
                <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
                    <div fxFlex.lt-md="100" fxFlex="50">
                        <video autoplay="" loop="" muted="" playsinline="">
                        <source src="assets/acre-bill-animation.122-1.HEVC-alpha.mov" type='video/mp4; codecs="hvc1"' />
                        <source src="assets/acre bill animation.122_1.webm" type="video/webm" />
                    </video>
                    </div>
                    <div fxFlex.lt-md="100" fxFlex="50" fxLayoutAligmnet="center" class="section1">
                        <div class="mt9">
                            <h3 class="h3"><span>The Future of NFTs is Asset-Backed.</span></h3>
                            <p>
                                Mint high-quality Art, Collectibles, Real Estate, and Experience asset-backed NFTs that automatically generate digital rewards along with exclusive real world benefits.
                            </p>
                            <button btn-lg>First Project Launch</button>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayout.md="row" fxLayoutGap="20px" class="section1">
                <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
                    <div fxFlex.lt-md="100" fxFlex="50">
                        <div class="s2leftbox container">
                            <h3>
                                <span>Pioneering The Next Layer in NFT Utility.</span>
                            </h3>
                            <p>
                                Introducing ACRE Protocol: a scalable next-gen solution for NFTs featuring guaranteed liquidity, DeFi integration, and powering a community owned decentralized ecosystem.
                            </p>

                            <button routerLink="/litepaper" class="btn-lg">Read Litepaper</button>
                        </div>
                    </div>

                    <div fxFlex.lt-md="100" fxFlex="50">
                        <video width="100%" height="100%" autoplay="" loop="" muted="" playsinline="">
                        <source
                        src="assets/acre-token.121_1-rev2-1.mov"
                        type='video/mp4; codecs="hvc1"'
                        />
                        <source src="assets/acre token.121_1.webm" type="video/webm" />
                    </video>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div class="acreEcosystem-title">
                    <h3 class="">ACRE Ecosystem</h3>
                    <p>
                        Featuring a unique NFT Marketplace, automatic liquidity protocol &amp; DAO, ACRE aims to become a digital DeFi powerhouse with a multi-layered ecosystem designed to benefit all users that participate within the project network.
                    </p>
                </div>
            </div>
            <div fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
                <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
                    <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
                        <div class="acreEcosystem-thumb">
                            <div class="icon">
                                <svg-icon src="assets/nft.svg"></svg-icon>
                            </div>
                            <h4 class="title">NFT</h4>
                        </div>
                    </div>

                    <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
                        <div class="acreEcosystem-thumb">
                            <div class="icon">
                                <svg-icon src="assets/token.svg"></svg-icon>
                            </div>
                            <h4 class="title">Token</h4>
                        </div>
                    </div>

                    <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
                        <div class="acreEcosystem-thumb">
                            <div class="icon">
                                <svg-icon src="assets/rewards.svg"></svg-icon>
                            </div>
                            <h4 class="title">Rewards</h4>
                        </div>
                    </div>


                    <div class="wpb_wrapper" fxFlex.lt-md="100" fxFlex="50">
                        <div class="acreEcosystem-thumb">
                            <div class="icon">
                                <svg-icon src="assets/governance.svg"></svg-icon>
                            </div>
                            <h4 class="title">Governance</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>