mat-toolbar-row .mat-list-item {
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    padding: 0px 16px;
    font-weight: 400;
    margin: 8px auto;
}

mat-toolbar-row span {
    width: 10%;
}

.mat-toolbar.mat-primary {
    background: black;
}

a:hover {
    color: #007aff !important;
}

span img {
    cursor: pointer;
    max-width: 150px;
}

.active-list-item {
    color: #007aff !important;
    /* Note: You could also use a custom theme */
}

#container {
    top: 64px !important;
}

.navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 599px) {
    #container {
        top: 56px !important;
    }
}