<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
        <span>
      <a routerLink="/" mat-list-item>
        <img src="assets/acre logo - web special header logo.png" /></a
    ></span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a href="#section_1" mat-list-item routerLinkActive="active-list-item">About Us</a
      >
      <a href="#section_2" mat-list-item routerLinkActive="active-list-item"
        >Roadmap</a
      >
      <a
      href="#section_3"
        mat-list-item
        routerLinkActive="active-list-item"
        >NFT Projects</a
      >
      <a
      href="#section_4"
        mat-list-item
        routerLinkActive="active-list-item"
        >Foundation</a
      >
      <a href="#section_5" mat-list-item routerLinkActive="active-list-item"
        >Team</a
      >
      <a href="#section_6" mat-list-item routerLinkActive="active-list-item"
        >Token</a
      >
      <a
        routerLink="/litepaper"
        mat-list-item
        title="Litepaper"
        routerLinkActive="active-list-item"
        >Litepaper</a
      >
      <a
        href="https://medium.com/@Acre.World/acre-frequently-asked-questions-faqs-56cebb9f14ca"
        mat-list-item
        >FAQ</a
      >
      <a routerLink="/careers" mat-list-item routerLinkActive="active-list-item"
        >Careers</a
      >
    </div>
<!--social icon-->
 <div fxFlex.lt-md="100" fxFlex="20">
        <div class="uncode-vc-social icons-lead">
          <div class="social-icon icon-box icon-box-top icon-inline">
            <a href="https://twitter.com/ACRE_WORLD" target="_blank">
              <fa-icon [icon]="faTwitter"></fa-icon
            ></a>
        </div>
        <div class="social-icon icon-box icon-box-top icon-inline">
            <a href="https://discord.gg/PysqQNAjKT" target="_blank">
                <fa-icon [icon]="faGamepad"></fa-icon>
            </a>
        </div>
        <div class="social-icon icon-box icon-box-top icon-inline">
            <a href="https://t.me/ACREofficial" target="_blank">
                <fa-icon [icon]="faTelegram"></fa-icon>
            </a>
        </div>
        <div class="social-icon icon-box icon-box-top icon-inline">
            <a href="https://www.reddit.com/r/ACRE_World/" target="_blank">
                <fa-icon [icon]="faReddit"></fa-icon>
            </a>
        </div>
        <div class="social-icon icon-box icon-box-top icon-inline">
            <a href="https://medium.com/@ACRE.World" target="_blank">
                <fa-icon [icon]="faMedium"></fa-icon>
            </a>
        </div>
        <div class="social-icon icon-box icon-box-top icon-inline">
            <a href="https://www.instagram.com/acre.world/" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </div>
        </div>
        </div>


    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
            <a href="#section_1" mat-list-item routerLinkActive="active-list-item">About Us</a
      >
      <a href="#section_2" mat-list-item routerLinkActive="active-list-item"
        >Roadmap</a
      >
      <a
      href="#section_3"
        mat-list-item
        routerLinkActive="active-list-item"
        >NFT Projects</a
      >
      <a
      href="#section_4"
        mat-list-item
        routerLinkActive="active-list-item"
        >Foundation</a
      >
      <a href="#section_5" mat-list-item routerLinkActive="active-list-item"
        >Team</a
      >
      <a href="#section_6" mat-list-item routerLinkActive="active-list-item"
        >Token</a
      >
      <a
        routerLink="/litepaper"
        mat-list-item
        routerLinkActive="active-list-item"
        >Litepaper</a
      >
      <a
        href="https://medium.com/@Acre.World/acre-frequently-asked-questions-faqs-56cebb9f14ca"
        mat-list-item
        >FAQ</a
      >
      <a routerLink="/careers" mat-list-item routerLinkActive="active-list-item"
        >Careers</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content autosiz>
    <!-- <app-product-preview class="h-[500px]" [color]="selectedColor"></app-product-preview> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>