h1 {
    text-align: center;
}

.wpb_wrapper svg {
    height: 50%;
    width: 50%;
}

.roadMap {
    background-image: url('../../assets/669080-1.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}