<section class="hero" id="section_2">
    <div class="roadMap mt110">
        <h1>Roadmap</h1>
        <div class="container mt110" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
            <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
                <div fxFlex.lt-md="100" fxFlex="50">
                    <div class="wpb_wrapper">
                        <div class="svgicon">
                            <svg-icon src="assets/phase1.svg "></svg-icon>
                        </div>
                    </div>

                    <div class="titlebox ">
                        <h3>Phase 1</h3>
                    </div>
                    <div class="uncode-wrapper uncode-list ">
                        <ul>
                            <li style="text-align: left ">
                                <span class="font-555555 ">Website Launch</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">Litepaper Release</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">Announce Innovative, New NFT Model</span
              >
            </li>
            <li style="text-align: left ">
              <span class="font-555555 ">Community Outreach</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">Announce Partnerships &amp; Associations</span
              >
            </li>
            <li style="text-align: left ">
              <span class="font-555555 "
                >Establish Non-Governmental Organization [NGO]</span
              >
            </li>
            <li style="text-align: left ">
              <span class="font-555555 ">Whitelist Registration</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div fxFlex.lt-md="100 " fxFlex="50 ">
                    <div class="wpb_wrapper ">
                        <svg-icon src="assets/phase2.svg "></svg-icon>
                    </div>
                    <div class="titlebox ">
                        <h3>Phase 2</h3>
                    </div>
                    <div class="uncode-wrapper uncode-list ">
                        <ul>
                            <li style="text-align: left ">
                                <span class="font-555555 ">ACRE Mint Pass Genesis</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">NFT Public Launch</span>
                            </li>
                            <li style="text-align: left ">Marketplace &amp; DAO</li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">ACRE Token Launch</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">Exchange Listing Partnerships</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">ACRE Protocol</span>
                            </li>
                            <li style="text-align: left ">
                                <span class="font-555555 ">Crypto Roadshows &amp; Blockchain Events</span
              >
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container "
      fxLayout="column "
      fxLayout.md="row "
      fxLayoutGap="20px "
    >
      <div
        class="cardWrap "
        fxLayout.lt-md="column "
        fxLayout.md="column "
        fxLayout="row "
        fxFlex.md="50 "
        fxLayoutAligmnet="space-between center "
        fxLayoutGap="20px "
      >
        <div fxFlex.lt-md="100 " fxFlex="50 ">
          <img
            class="wp-image-104396 jetpack-lazy-image jetpack-lazy-image--handled "
            src="assets/Platinum-BayEXTRA-web-optimized.png "
            width="720 "
            height="263 "
            alt=" "
            data-lazy-loaded="1 "
            loading="eager "
          /><noscript
            ><img
              class="wp-image-104396 "
              src="assets/Platinum-BayEXTRA-web-optimized.png "
              width="720 "
              height="263 "
              alt=" "
              srcset=" assets/Platinum-BayEXTRA-web-optimized.png?w=720&amp;ssl=1 720w, assets/Platinum-BayEXTRA-web-optimized.png?resize=300%2C110&amp;ssl=1 300w "
              sizes="(max-width: 720px) 100vw, 720px "
          /></noscript>
        </div>
        <div>
          <img
            class="wp-image-104395 jetpack-lazy-image jetpack-lazy-image--handled "
            src="assets/ADM-PlatinumEXTRA-web-optimized.png "
            width="720 "
            height="336 "
            alt=" "
            data-lazy-loaded="1"
            loading="eager "
          /><noscript
            ><img
              class="wp-image-104395 "
              src="assets/ADM-PlatinumEXTRA-web-optimized.png "
              width="720 "
              height="336 "
              alt=" "
              srcset=" assets/ADM-PlatinumEXTRA-web-optimized.png?w=720&amp;ssl=1 720w, assets/ADM-PlatinumEXTRA-web-optimized.png?resize=300%2C140&amp;ssl=1 300w "
              sizes="(max-width: 720px) 100vw, 720px "
          /></noscript>
        </div>
      </div>
    </div>
  </div>
</section>