.acreToken-section {
    padding: 100px 0;
}

.acreToken-section h3 {
    font-size: 35px;
    font-weight: 500;
}

.acreToken-section p {
    line-height: 1.8;
}

.acreToken-section {
    padding: 100px 0;
    background: #000;
}