/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap";
body {
    font-family: "Manrope", sans-serif;
}

.social-icon.icon-box.icon-box-top.icon-inline {
    float: left;
    padding: 0px 10px;
}

.mat-toolbar-single-row {
    padding: 35px 16px;
}